# ==========================================
# Nyaya-AI Local Environment Variables
# ==========================================

# Database Configuration
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Host Port Mapping
HOST_DB_PORT=

# Application Configuration
## Backend Server
SERVER_PORT=

# Frontend Configuration
FRONTEND_URL=